@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Moo+Lah+Lah&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Pop Up Styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: 'Moo Lah Lah';
}

.contentbox {
  position: relative;
  width: 600px;
  height: 400px;
  background: #131313;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1) ;
}

.contentbox .imgbox{
  position: relative;
  width: 300px;
  height: 400px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox .imgbox img {
  position: relative;
  max-width: 250px;
  border-radius: 50%;
}

.contentbox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox .content h3 {
  color: #fff;
  line-height: 1em;
  font-weight: 300;
  font-size: 2em;
}

.contentbox .content h2 {
  font-size: 3em;
  color: #ff4d54;
  line-height: 1em;
}

.contentbox .content h2 span {
  color: #fff;
  font-size: 1em;
}

.contentbox .content p {
  font-weight: 300;
  color: #fff;
}

.contentbox .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #ff4d54;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url(img/close1.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

/* Home Styling */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Hero Styling */

.hero {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.hero section {
  padding: 50px 0px;
  padding-bottom: 100px;
}

/* Logo Styling */

.img-container .row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img-container .row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  padding-bottom: 100px;
}

/* Blue Styling */

.web-prod {
  background-color: rgb(133, 207, 236);
}

.web-prod .text {
  padding: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.text .text-1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 20px;
}

.text .text-2 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 50px;
}

.text .text-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
  padding-bottom: 100px;
}
